# Test fixture for lefthook customManager with .jinja suffix
remotes:
  - git: '{{MOCK_REPO:config}}'
    ref: v1.0.0 # renovate: datasource=git-tags depName={{MOCK_REPO:config}}

pre-commit:
  commands:
    lint:
      run: npm run lint
